fastapi
uvicorn[standard]
langgraph
langchain
langchain-groq
langchain-community
langchain-huggingface
chromadb
sentence-transformers
redis
sqlalchemy
aiosqlite
python-dotenv
pydantic
sse-starlette
httpx
faker
pydantic-core
